anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
attrs
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
executing
faicons
fastjsonschema
fqdn
fsspec
h11
htmltools
humanize
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
joblib
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
linkify-it-py
markdown-it-py
MarkupSafe
matplotlib-inline
mdit-py-plugins
mdurl
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pins
platformdirs
plotly
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
PyJWT
python-dateutil
python-json-logger
python-multipart
pytz
pywinpty
PyYAML
pyzmq
quarto
questionary
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsconnect-jupyter
rsconnect-python
seaborn
semver
Send2Trash
shiny==0.8.1
shinywidgets==0.3.1
six
sniffio
soupsieve
stack-data
starlette
tenacity
terminado
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
uri-template
urllib3
uvicorn
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
xxhash
zipp
