# Dash Packages: these are required for general quarto/shiny functionality, apply these to all dashboards.
htmltools @ git+https://github.com/posit-dev/py-htmltools@main
ipykernel @ git+https://github.com/ipython/ipykernel.git
quarto @ git+https://github.com/quarto-dev/quarto-python.git
rsconnect-python @ git+https://github.com/posit-dev/rsconnect-python.git
shiny @ git+https://github.com/posit-dev/py-shiny.git
shinywidgets @ git+https://github.com/posit-dev/py-shinywidgets.git

# Data Packages: these are required for dashboard-specific manipulation and visualisation of the datasets.
numpy
pandas
plotly==5.24.1
