# Dash Packages: these are required for general quarto/shiny functionality, apply these to all dashboards.
htmltools==0.6.0
ipykernel==6.29.5
quarto @ git+https://github.com/quarto-dev/quarto-python.git
rsconnect-python==1.25.2
shiny==1.3.0
shinywidgets==0.5.1

# Data Packages: these are required for dashboard-specific manipulation and visualisation of the datasets.
numpy
pandas
plotly==5.24.1
